.comments-container {

}

.each-posted-comment-container {
  display: flex;
  margin: 20px;
  width: calc(100% - 40px);
}

.comment-user-info-container {
  display: flex;
}

.comment-user-info {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}

.comment-body {
  display: inline-block;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: #f2f3f5;
  width: 100%;
  padding: 10px;
  overflow: hidden;
}

.comment-body > a {
  padding-right: 10px;
}

.new-comment-form {
  text-align: right;
}

.new-comment-box {
  text-align: left;
  margin: 20px;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: #f2f3f5;
  width: calc(100% - 60px);
  overflow: hidden;
}

.new-comment-submit {
  background: #0099e5;
  color: white;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}