.nav-bar {
  background-color: lightblue;
  padding-left: 40px;
  padding-right: 40px;
}

.nav-flex-container {
  display: flex;
  justify-content: space-between;
  height: 50px
}

.nav-flex-logo {
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
  width: 96px;
}

.logo {
  display: block;
  color: black;
  font-weight: 300;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
}

.nav-flex-discover {
  vertical-align: middle;
  width:70px;
  padding-left: 8px;
  padding-right: 8px;
  // height: 50px;
}

.nav-flex-about {
  vertical-align: middle;
  width: 52px;
  padding-left: 8px;
  padding-right: 8px;
  // height: 50px;
}

.nav-flex-studio {
  vertical-align: middle;
  width: 55px;
  padding-left: 8px;
  padding-right: 8px;
  // height: 50px;
}

.nav-flex-search-container {
  vertical-align: middle;
  justify-content: flex-end;
  width: 1314px;
  // height: 54px;
}

.nav-flex-signup {
  vertical-align: middle;
  width: 78px;
  padding-left: 20px;
  padding-right: 20px;
  // height: 50px;
}

.nav-flex-login {
  vertical-align: middle;
  width: 89px;
  padding-left: 20px;
  padding-right: 20px;
  // height: 50px;
}

.btn {


vertical-align: middle;}

.search-bar {
  border: 1px solid grey;
  background-color: white;
}

// .font-effect-fire-animation {
//   font-family: 'Anton';
//   font-size: 40px;
// }
