.modal-open {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-closed {
  display: none;
}

.modal-picture { grid-area: picture; }
.modal-profile {
  display: flex;
  flex-direction: column;
  grid-area: profile-box;
}
.modal-comment { grid-area: comment; }

.modal-window {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'picture picture picture profile-box'
    'picture picture picture comment'
    'picture picture picture comment';
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.modal-author-info-container {
  display: flex;
  justify-content: space-between;
}

.modal-description-and-icon-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.modal-title {
  font-size: 20px;
  overflow: hidden;
  height: 20px;
}

.modal-desc {
  font-size: 16px;
  overflow: hidden;
  height: 20px;
}

.modal-icon-container {
  display: flex;
  justify-content: center;
}

.modal-icons {
  margin: 0 10px;
  padding: 0 16px;
  width: 20px;
  height: 30px;
  border: 1px solid grey;
  border-color: #c7ced2;
  background-color: #fff;
  color: #71767a;
  border-radius: 15px;
}