.nav-bar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding-left: 40px;
  padding-right: 40px;
  z-index: 1;
  background-color: white;
}

.nav-flex-container {
  display: flex;
  justify-content: space-between;
  height: 50px
}

.nav-flex-logo {
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
  width: 96px;
}

.nav-logo {
  display: block;
  color: black;
  font-weight: 300;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
}

.nav-flex-discover {
  display: flex;
  align-items: center;
  width:70px;
  padding-left: 8px;
  padding-right: 8px;
}

.nav-flex-about {
  display: flex;
  align-items: center;
  width: 52px;
  padding-left: 8px;
  padding-right: 8px;
}

.nav-flex-studio {
  display: flex;
  align-items: center;
  width: 55px;
  padding-left: 8px;
  padding-right: 8px;
}

.nav-flex-search-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 1600px;
}

.nav-flex-search-container-2 {
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  height: 100%;
  width: 325px;
}

.nav-flex-login-signup-container {
  display: flex;
  justify-content: space-between;
  height: 50px
}

.nav-flex-signup {
  display: flex;
  align-items: center;
  width: 65px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #34bf49;
}

.nav-flex-login {
  display: flex;
  align-items: center;
  text-align: center;
  width: 66px;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-btn {
  font-weight: 300;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
}

#login {
  padding-left: 6px;
}

#signup {
  color: white;
}

.search-bar {
  border-radius: 25px;
  background: #f7f8fa;
  font-weight: normal;
  font-size: 14px;
  color: #222;
  text-indent: 28px;
  border: 1px solid #eeeff2;
  width: 100%;
  height: 28px;
  background-image: url(if_Search_Icon_743893.png);
  background-position: 6px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.nav-icons-and-upload-flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-flex-default-user-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 8px;
}

.nav-default-user-icon {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-image: url(if_30.User_290120.png);
}

.nav-default-user-icon-dropdown {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 50px;
  right: 135px;
  font-size: 14px;
  letter-spacing: -0.01em;
  // padding: 0px 25px;
  background-color: white;
  line-height: 26px;
  border: 1px solid black;
  text-align: left;
}

.nav-default-user-icon-dropdown li {
  padding: 0px 25px;
}

li:hover .nav-default-user-icon-dropdown {
  display: block;
}

.nav-working-link:hover {
  background: lightblue;
}

.nav-not-working-link:hover {
  background: lightcoral;
}
.nav-flex-messenger-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 8px;
}

.nav-messenger-icon {
  width: 16px;
  height: 16px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-image: url(if_paperplane_115704.png);
}

.nav-flex-notification-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 8px;
}

.nav-notification-icon {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-image: url(if_bell_384897.png);
}

.nav-flex-upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
  width: 94px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #34bf49;
  height: 100%;
  padding: 0 8px;
}

.nav-upload-icon {
  width: 25px;
  height: 25px;
  padding-right: 10px;
  background-repeat: no-repeat;
  color: white;
  background-size: 25px 25px;
  background-image: url(if_50_Cloud_Arrow_Up_183463.png);
}
