.homepage-user-feed-gallery-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  margin-top: 50px;
  background-color: #f9fbff;
}

.picture-index-items-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
  padding-top: 20px;
  width: 700px;
  height: 460px;
}

.picture-index-item {
  display: flex;
  flex-direction: column;
  height: 418px;
  box-shadow: 0 1px 1px lightgrey;
}

.profile-pic {
  // background-image: url(if_users-10_984119.png);
  background-image: url(/assets/if_users-10_984119.png);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.profile-header-texts-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5px;
}

.profile-header-texts {
  display: flex;
  flex-direction: row;
}

.profile-header-texts a {
  font-weight: bold;
}

.profile-header-texts-published {
  padding-left: 5px;
  color: grey;
}

.picture-index-header-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.profile-header-follow-container {
  display: flex;
  align-content: center;
  margin-left: 165px;
}

.profile-header-follow-button {
  border: 1px solid grey;
  border-radius: 30px;
  text-align: center;
  height: 32px;
  width: 85px;
}

.follow-clicked {
  background-color: #03da03;
  color: white;
  width: 95px;
}

.profile-header-follow-user-container {
  display: flex;
  align-content: center;
  margin-left: 500px;
}

.profile-header-follow-user-button {
  border: 1px solid grey;
  border-radius: 30px;
  text-align: center;
  height: 30px;
  width: 85px;
}

.profile-gallery-timestamp {
  color: lightgrey;
}

.picture-index-item-picture {
  max-width: 480px;
  max-height: 300px;
}

.picture-index-item-title {
  font-size: 20px;
  line-height: 1.4em;
  margin-top: 11px;
}
