.profile-container {

}

.profile-cover-avatar-buttons-container {

}

.profile-cover-picture {
  height: 319px;
  background-image: url(muhammad-shahzad-361233-unsplash.jpg)
}

.profile-avatar-picture {
  position: absolute;
  left: 876px;
  top: 269px;
  height: 100px;
  width: 100px;
  background-image: url(if_30.User_290120.png);
  background-size: 100px;
  border: 1px solid white;
  border-radius: 1px;
}