.signup-email-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  margin-top: 50px;
  background-color: #f9fbff;
  height: 100vh;
  z-index: 0;
}

.signup-email-page-after-nav {
  display: flex;
  justify-content: center;
  height: 555px;
}

.signup-email-header-flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 318px;
  height: 425px;
  background-color: #FFF;
  border: 1px solid #eeeff2;
  padding: 32px 40px 24px;
}

.signup-email-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.signup-email-header-texts li {
  display: block;
  color: #525558;
  font-weight: 300;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 17px;
}

.signup-email-header-texts a {
  color: blue;
}

.signup-email-line-divider-container {
  display: flex;
  align-items: center;
  width: 316px;
  margin: 20px 0;
  color: #b9c1c7;
}

.signup-email-form {
  display: flex;
  flex-direction: column;
  width: 316px;
}

.signup-email-line-divider {
  border: solid 1px #b9c1c7;
  width: 150px;
}

.signup-email-text-divider {
  margin: 0 10px;
  flex: 0;
}

.signup-email-form-container {
  display: flex;
  text-align: left;
}

.signup-email-form-container label {
  display: flex;
  text-align: left;
  flex-direction: column;
  color: grey;
}

.signup-email-input {
  margin: 6px 0px 17px 0px;
  padding: 8px 10px;
  font-size: 14px;
  color: black;
  border: 1px solid lightgrey;
  border-radius: 3px;
  transition: border-color 0.2s;
  line-height: 1.4em;
}

.signup-errors-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.signup-error {
  color: red;
}

.signup-email-form-submit {
  font-weight: 300 bold;
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
  font-size: 14px;
  color: white;
  text-align: center;
  background-color: #41cb56;
  border: 1px solid #41cb56;
  border-radius: 5px;
  height: 40px;
}

.signup-email-newsletter-and-email-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 17px;
  padding-bottom: 17px;
}

.signup-email-newsletter-checkbox-container {
  display: flex;
  flex-direction: row;
  text-align: left;
  font-size: 14px;
}

.signup-email-newsletter-checkbox-container input {
  margin-right: 12px;
}

.signup-email-newsletter-checkbox-container a {
  color: blue;
}

.signup-email-newsletter-checkbox-container p {
  font-weight: 300;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13px;
}

.signup-email-page-TOS-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Josefin Sans', sans-serif;
}

.signup-email-page-TOS a {
  color: blue;
}
