.signup-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  margin-top: 50px;
  background-color: #f9fbff;
  height: 100vh;
  z-index: 0;
}

.signup-page-after-nav {
  display: flex;
  // align-items: center;
  justify-content: center;
  height: 555px;
}

.signup-form-flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  width: 318px;
  background-color: #FFF;
  border: 1px solid #eeeff2;
  padding: 32px 40px 24px;
}

.signup-buttons-header-texts li:first-child {
  display: block;
  color: #525558;
  font-weight: 300 bold;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
}

.signup-buttons-header-texts li:last-child {
  display: block;
  color: #525558;
  font-weight: 300;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 12px;
  // margin-bottom: 18px;
  font-size: 17px;
}

.signup-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  width: 318px;
  margin-bottom: 25px;
}

.signup-buttons button {
  height: 50px;
  width: 302px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.signup-buttons p {
  margin-left: 10px;
  color: white;
}

.signup-facebook-button {
  background-color: #3b5998;
}

.signup-facebook-icon {
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  background-image: url(facebook-logo-png-38362.jpg);
}

.signup-google-button {
  display: flex;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 1px 1px lightgrey
}

.signup-google-button p {
  color: #525558;
}

.signup-google-icon {
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  background-image: url(if_new-google-favicon_682665.png);
}

.signup-newsletter-and-email-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.signup-newsletter-checkbox-container {
  display: flex;
  flex-direction: row;
  text-align: left;
  font-size: 14px;
}

.signup-newsletter-checkbox-container input {
  margin-right: 12px;
}

.signup-newsletter-checkbox-container a {
  color: blue;
}

.signup-line-divider-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  color: #b9c1c7;
}

.signup-line-divider {
  border: solid 1px #b9c1c7;
  width: 150px;
}

.signup-text-divider {
  margin: 0 10px;
  flex: 0;
}

.signup-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  width: 318px;
  margin-bottom: 25px;
}

.signup-email-button {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #f7f8fa;
  border-radius: 2px;
  height: 50px;
  width: 302px;
  padding-left: 16px;
  box-shadow: 0 1px 1px lightgrey
}

.signup-email-link {
  color: #525558;
  margin-left: 10px;
  // color: white;
}

.signup-email-icon {
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  background-image: url(if_envelope_925921.png);

}

.signup-page-TOS-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  // padding-top: 30px;
}

.signup-page-TOS a {
  color: blue;
}
