.homepage-container {
  display: flex;
  flex-direction: column;
}

.homepage-display-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 257px;
  background-image: url(user_uploads/nasa-43569-unsplash.jpg);
  // Photo by Nathan Anderson on Unsplash (trees)
  background-repeat: no-repeat;
  background-size: 100vw;
  z-index: 0;
}

.home-display-opening-text {
  font-size: 48px;
  text-align: center;
  color: white;
  max-width: 900px;
  padding: 40px 0;
}

.home-display-following-text {
  color: white;
  font-size: 27px;
  max-width: 800px;
}

.home-display-signup-button {
  margin-top: 40px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 100px;
  border: 2px solid #0099e5;
  padding-top: 13px;
  height: 30px;
  width: 140px;
  background-color: #0099e5;
  color: white;
  text-align: center;
}

.homepage-top-photos-container {
  display: flex;
  flex-direction: column;
}

.homepage-top-photos-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 80px;
  width: 100vw;
}

.homepage-top-photos-header h1 {
  font-size: 36px;
  margin: 32px 0 20px 0;
}

.homepage-top-photos-header p {
  font-size: 18px;
  margin: 0 auto 40px auto;
}

.homepage-top-photos-header-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100vw;
  height: 46px;
}

.homepage-top-photos-header-list button {
  padding: 15px 0;
  margin: 0 30px;
}

.homepage-top-photos-header-list button:hover {
  color: #0099e5;
  border-bottom: 2px solid #0099e5;
}

.homepage-top-photos-grid-container {
  display: grid;
  height: 800px;
  padding: 10px 200px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}

.homepage-top-photos-grid-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homepage-top-photos-grid-item-parrot {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.homepage-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
}

.homepage-footer p{
  margin-bottom: 30px;
}

.homepage-footer-content-container {
  display: flex;
  flex-direction: row;
}

.LinkedIn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

.LinkedIn-icon {
  border-radius: 5px;
  background: #0077B5;
  color: white;
  padding: 5px;
  font-size: 30px;
  font-weight: bolder;
  margin-right: 5px;
}

.angel-list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

.angel-list-icon {
  height: 35px;
  width: 35px;
  object-fit: cover;
}

.about-me-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

.about-me-icon {
  background-image: url(if_30.User_290120.png);
  background-size: 35px 35px;
  height: 35px;
  width: 35px;
  margin-right: 5px;
}

.github-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

.github-icon {
  background-image: url(GitHub-Mark-64px.png);
  background-size: 35px 35px;
  height: 35px;
  width: 35px;
  margin-right: 5px;
}