.splash-nav-flex-container {
  display: flex;
  // position: absolute;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  height: 70px;
  // width: 1838px;
  padding-left: 40px;
  padding-right: 40px;
  z-index: 1;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
}

.splash-nav-flex-logo {
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  width: 96px;
}


.splash-nav-flex-link-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 330px;
  height: 100%;
}

.splash-nav-flex-logo {
  display: block;
  color: white;
  font-weight: 300;
  font-family: sans-serif;
  font-size: 30px;
}

.splash-nav-flex-discover {
  display: flex;
  align-items: center;
  width:70px;
  height: 100%;
  padding-left: 8px;
  padding-right: 8px;
}

.splash-nav-flex-about {
  display: flex;
  align-items: center;
  width: 52px;
  height: 100%;
  padding-left: 8px;
  padding-right: 8px;
}

.splash-nav-flex-licensing {
  display: flex;
  align-items: center;
  width: 65px;
  height: 100%;
  padding-left: 8px;
  padding-right: 8px;
}

.splash-nav-flex-auth-container {
  display: flex;
  flex-direction: row;

}

.splash-nav-flex-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #0099e5;
  border-radius: 20px;
  border: 1px solid #0099e5
}

.splash-nav-flex-login {
  display: flex;
  align-items: center;
  text-align: center;
  width: 66px;
  height: 30px;
  padding-left: 22px;
  padding-right: 20px;
}

.splash-nav-btn {
  font-weight: 300;
  font-family: sans-serif;
  font-size: 16px;
  color: white;
  // padding-left: 10px;
}

#login {
  padding-top: 5px;
  // padding-left: 6px;
}

#signup {
  padding-left: 0px;
  white-space: nowrap;
}

// .splash-logo:hover {
//   background-color: orange;
// }

.font-effect-fire-animation {
  font-family: 'Anton';
}
