.upload-container {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  font-family: sans-serif;
  margin: 100px auto;
  padding: 20px;
}

// .upload-container.highlight {
//   border-color: purple;
// }

.upload-form-label-title {
  padding-right: 62px;
}

.upload-form-title {
  width: 380px;
  height: 30px;
  border: 1px solid lightgrey;
}

.upload-form-label-description {
  padding-right: 12px;
}

.upload-form-description {
  width: 380px;
  height: 90px;
  margin: 20px 0;
  border: 1px solid lightgrey;
}

.upload-form-label-tags {
  padding-right: 12px;
}

.upload-form-tags {
  width: 294px;
  height: 30px;
  margin: 20px 0;
  border: 1px solid lightgrey;
}

.upload-form-label-pictureUrl {
  padding-right: 48px;
}

.upload-form-pictureUrl {
  width: 380px;
  border: 1px solid lightgrey;
}

.upload-form-pictureUrl::-webkit-file-upload-button{
  float: right;
}

.upload-form {
  display: inline-block;
  margin: 20px 42%;
  padding: 10px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 25px;
  border: 1px solid #ccc;
}

.upload-form:hover {
  background: rgb(221, 221, 221);
  
}